<html lang="en" class=" cssanimations"><head>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/demo/demo.css" rel="stylesheet">
  <!-- Extra details for Live View on GitHub Pages -->
  </head>

<body class="404 sidebar-collapse">
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->
  <!-- Navbar -->
    <!-- End Navbar -->
  <div class="background-img" style="background-image: url('https://images.pexels.com/photos/244134/pexels-photo-244134.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <h1 class="title"> &nbsp;404
          <br>
          <p class="error-msg">The page you requested could not be found</p>
        </h1>
      </div>
      <div class="container-cards">
        <div class="row">
          <h5 class="discover-pages text-center">Take me back to <a href="/users/dashboard">Bookrest</a> </h5>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
