<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Paper Kit 2 PRO by Creative Tim
  </title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  <link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro" />

  <style>
    .btn-danger1 {
      color: red;
    }
    .btn-danger1:hover {
      color: white;
      background-color: red;
      border-color: red;
    }
    .btn-outline-red {
      border-color:red;
      color:red;
      opacity:1;
      filter:alpha(opacity=100);
    }
    .form-check{position:relative;display:block;padding-left:1.25rem;}
    .form-check-input{position:absolute;margin-top:.3rem;margin-left:-1.25rem;}
    .form-check-label{margin-bottom:0;}
    .form-check{padding-left:0;margin-bottom:.5rem;}
    .form-check .form-check-label{display:inline-block;position:relative;cursor:pointer;padding-left:35px;line-height:26px;margin-bottom:0;}
    .form-check .form-check-sign:after,.form-check .form-check-sign:before{content:" ";display:inline-block;position:absolute;width:24px;height:24px;left:0;cursor:pointer;border-radius:6px;top:0;background-color:#aaa7a4;transition:opacity .3s linear;}
    .form-check .form-check-sign:after{font-family:FontAwesome;content:"\f00c";top:-1px;text-align:center;font-size:15px;opacity:0;color:#fff;border:0;background-color:inherit;}
    .form-check input[type=checkbox]{opacity:0;position:absolute;visibility:hidden;}
    .form-check input[type=checkbox]:checked+.form-check-sign:after{opacity:1;}
    .form-check .form-check-label input[type=checkbox]:disabled+.form-check-sign{pointer-events:none!important;}
    .form-check-label input[type=checkbox]:checked+.form-check-sign:before{background-color:#66615b;}
    .form-check input[type=radio]{opacity:0;position:absolute;visibility:hidden;}
    .form-check input[type=radio]:checked+.form-check-sign:after{opacity:1;}
    .form-check .form-check-label input[type=radio]:disabled+.form-check-sign{pointer-events:none!important;}
    .form-check-label input[type=radio]:checked+.form-check-sign:before{background-color:#66615b;}

  </style>

</head>

<form action="/shelf/addbook" method="POST" id="bookdata" enctype="multipart/form-data">
  <body class="add-product sidebar-collapse">
    <div class="main">
      <div class="section">
        <div class="container">
          <h3>Add Book</h3>
          <div>
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <h6>Product Image</h6>
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail img-no-padding" style="max-width: 370px; max-height: 600px;">
                    <img id="image" src="../static/pics/image_placeholder.jpg" alt="...">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail img-no-padding" style="max-width: 370px; max-height: 600px;"></div>
                  <div>
                    <span id="imageSelect" class="btn btn-outline-default btn-round btn-file">
                      <span class="fileinput-new">Select image</span>
                      <span class="fileinput-exists">Change</span>
                      <input type="file" name="photo" accept="image/*">
                      <!-- <input type="file" name="pdf" > -->
                    </span>
                    <a href="#paper-kit" class="btn btn-outline-red btn-round btn-danger1 fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                  </div>
                </div>
                <!-- <h6>Tags</h6>
                <div id="tags">
                  <input class="tagsinput" data-color="success" type="text" value="Minimal, Light, New, Friends" data-role="tagsinput" />
                </div>
                <h6>Categories</h6>
                <div id="tags-2">
                  <input class="tagsinput" data-color="success" type="text" value="Food, Drink" data-role="tagsinput" />
                </div> -->
                <h6>Format
                </h6>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" id='hasHardCopy' name='hasHardCopy' type="checkbox" value="false">
                    Print
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
              <div class="col-md-7 col-sm-7">
                <div class="form-group">
                  <h6>Title
                    <span class="icon-danger">*</span>
                  </h6>
                  <input type="text" list="books" id="bookname" name="bookname" class="form-control border-input" placeholder="Enter the book title here...">
                  <datalist id="books">
                    <% for(i=0;i<booksInfo.length; i++) {%>
                      <option value="<%= booksInfo[i][0] %>"></option>
                    <% } %>
                  </datalist>
                </div>
                <div class="form-group">
                  <h6>Author
                    <span class="icon-danger">*</span>
                  </h6>
                  <input type="text" id="author" name="author" class="form-control border-input" placeholder="Enter the Author name here...">
                </div>
                <div class="form-group">
                  <h6>Publisher
                    <span class="icon-danger">*</span>
                  </h6>
                  <input type="text" id="publisher" name="publisher" class="form-control border-input" placeholder="Enter the publisher name here...">
                </div>
                <div class="form-group">
                  <h6>Year of Publication
                    <span class="icon-danger">*</span>
                  </h6>
                  <input type="number" id="year" name="year" class="form-control border-input" placeholder="Enter the Year of Publication...">
                </div>
                <div class="form-group">
                  <h6>Description</h6>
                  <textarea name="description" class="form-control textarea-limited" placeholder="This is a textarea limited to 150 characters." rows="13" maxlength="150"></textarea>
                  <h5>
                    <small>
                      <span id="textarea-limited-message" class="pull-right">150 characters left</span>
                    </small>
                  </h5>
                </div>
              </div>
            </div>
            <div class="row buttons-row">
              <div class="col-md-6 col-sm-6">
                <button class="btn btn-outline-danger btn-block btn-round" id="reset" type="reset">Reset</button>
              </div>
              <div class="col-md-6 col-sm-6">
                <button class="btn btn-outline-primary btn-block btn-round" type="submit">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</form>


  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/validator/12.2.0/validator.min.js'></script>

  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js'></script>

  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <!-- <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script> -->

<!-- <script>

  $(document).ready(function(){

    $('form').on('submit',function(){

      var form = $("#bookdata");
      $.ajax({
        type:'POST',
        url:'/shelf/addbook',
        data: form.serialize(),
        success:function(response){
          console.log(response);
          return false;
        }
      });

    });


  });

</script> -->
<script>
  // console.log('booksInfo',typeof('<%= booksInfo %>'));

  var booksInfo = <%-JSON.stringify(booksInfo)%>;

  var booksList = [];
  for(i=0;i<booksInfo.length;i++){
    booksList.push(booksInfo[i][0]);
  }

  $(document).ready(function(){
    $("#bookname").change(function() {
    var index = booksList.indexOf($("#bookname").val().toString());

    if(index !== -1) {
      $("#publisher").val(booksInfo[index][1]);
      $("#publisher").prop("disabled",true);
      $("#author").val(booksInfo[index][2]);
      $("#author").prop("disabled",true);
      $("#year").val(booksInfo[index][3]);
      $("#year").prop("disabled",true);
      $("#image").attr("src",booksInfo[index][4]);
      $("#imageSelect").hide();
    }
    else{
      $("#publisher").val('');
      $("#publisher").prop("disabled",false);
      $("#author").val('');
      $("#author").prop("disabled",false);
      $("#year").val('');
      $("#year").prop("disabled",false);
      $("#image").attr("src",'../static/pics/image_placeholder.jpg');
      $("#imageSelect").show();
    }
  });

  $("#reset").click(function(){
    $("#publisher").prop("disabled",false);
    $("#author").prop("disabled",false);
    $("#year").prop("disabled",false);
    $("#image").attr("src",'../static/pics/image_placeholder.jpg');
    $("#imageSelect").show();
    alert('e');
  });

  $("#hasHardCopy").change(function() {
    if($(this).is(':checked')) {
      alert('hi');
      $(this).val(true);
    }
    else {
      alert('bye');
      $(this).val(false);
    }
  });

});

</script>


</html>
