
                <div class="project-pills" style="margin-bottom:60px">
                            <ul class="nav nav-pills nav-pills-danger">
                              <li class="nav-item">
                                <a class="nav-link" href="/book/allbidding" id="nav1" >All Books</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="/book/mystuff" id="nav2" >My Books</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/book/booksSold" id="nav3" >Books Sold</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/book/booksBrought" id="nav4" >Books Brought</a>
                              </li>

                            </ul>
                            <!-- Pill panes -->
                            <div class="tab-content">
                              <div class="tab-pane" id="pill-1" role="tabpanel"></div>
                              <div class="tab-pane" id="pill-2" role="tabpanel"></div>
                              <div class="tab-pane" id="pill-3" role="tabpanel"></div>
                              <div class="tab-pane" id="pill-4" role="tabpanel"></div>
                              <div class="tab-pane active" id="pill-5" role="tabpanel"></div>
                              <div class="tab-pane" id="pill-6" role="tabpanel"></div>
                            </div>
                          </div>
