<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body  >

<div style='margin-top:10%;margin-left:5%'>
  Hello , <%=user%>
<br>
  <a href="/users/logout">logout</a>
  
</div>
  </body>
</html>
