<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% for(i=0;i<book.length;i++){%>
      <h3><%=book[i].book.Title%></h3>
        <%}%>
      <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/jquery.min.js" type="text/javascript"></script>

  </body>

</html>
