<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
    <link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro" />
</head>
<br><br><br><br>
<div class="project-pills" style="margin-bottom:60px">
    <ul class="nav nav-pills nav-pills-danger">
        <li class="nav-item">
            <a class="nav-link" href="/payments/history" id="nav1">Payment History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/payments/pending" id="nav2">Pending Payments</a>
        </li>
    </ul>
    <!-- Pill panes -->
    <div class="tab-content">
        <div class="tab-pane" id="pill-1" role="tabpanel"></div>
        <div class="tab-pane" id="pill-2" role="tabpanel"></div>
        <div class="tab-pane" id="pill-3" role="tabpanel"></div>
        <div class="tab-pane" id="pill-4" role="tabpanel"></div>
        <div class="tab-pane active" id="pill-5" role="tabpanel"></div>
        <div class="tab-pane" id="pill-6" role="tabpanel"></div>
    </div>
</div>
<script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/jquery.min.js"
    type="text/javascript"></script>
<script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/popper.min.js"
    type="text/javascript"></script>
<script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/bootstrap.min.js"
    type="text/javascript"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/validator/12.2.0/validator.min.js'></script>

<script type="text/javascript"
    src='https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js'></script>