
                <div class="project-pills" style="margin-left:38%;margin-bottom:60px">
                            <ul class="nav nav-pills nav-pills-danger">
                              <li class="nav-item">
                                <a class="nav-link" href="#" id="nav1" >Sent</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="/my/viewrequest" id="nav2" >Recieved</a>
                              </li>
                            </ul>
                            <!-- Pill panes -->
                            <div class="tab-content">
                              <div class="tab-pane" id="pill-1" role="tabpanel"></div>
                              <div class="tab-pane" id="pill-2" role="tabpanel"></div>
                              <div class="tab-pane" id="pill-3" role="tabpanel"></div>
                              <div class="tab-pane" id="pill-4" role="tabpanel"></div>
                              <div class="tab-pane active" id="pill-5" role="tabpanel"></div>
                              <div class="tab-pane" id="pill-6" role="tabpanel"></div>
                            </div>
                          </div>
