<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/000000/open-book.png">
  <title>
Bookrest
  </title>
  <!-- <link rel="icon" href="https://image.flaticon.com/icons/svg/29/29302.svg"> -->
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
  <!-- Extra details for Live View on GitHub Pages -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/demo/demo.css" rel="stylesheet">
  <!-- Extra details for Live View on GitHub Pages -->

  <!-- Google Tag Manager -->
</head>

<body class="register-page full-screen sidebar-collapse" data-gr-c-s-loaded="true">
  <div class="wrapper">
    <div class="page-header" style="background-image: url('https://images.pexels.com/photos/298660/pexels-photo-298660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
      <div class="filter"></div>
      <div  class="container">
        <div  class="row">
          <div style='margin-left:35%'  class="col-md mr-auto">
            <div class="card card-register">
              <h3 class="card-title text-center" style='font-family:"Comic Sans MS",cursive,sans-serif;'>Login</h3>

              <div class="social">
                <a href="/users/google" class="btn btn-just-icon btn-google"><i class="fa fa-google"></i></a>
              </div>
              <div class="division">
                <div class="line l"></div>
                <span>or</span>
                <div class="line r"></div>
              </div>
              <form class="register-form" id='loginform' method='post'>
                <input type="email" class="form-control" id='useremail' name='email' placeholder="Email">
                <p id='msgs' style='color:red'></p>
                <a id='next' class="btn btn-block btn-round" onclick="check()" >Next</a>
              </form>
              <div class="login">
                <p class='text-left'><a href="/users/signup"> Create account</a>
                  <a style="margin-left:30%" href="/users/forgot">Forgot password?</a>

                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/validator/12.2.0/validator.min.js'></script>
<script type="text/javascript">
function check(){
  var temp = document.getElementById('useremail').value
  console.log(validator.isEmail(temp));
  if(validator.isEmail(temp) == true){
  $.ajax({
      type:'POST',
      url:'/users/checkemail',
      data:{
        email:document.getElementById('useremail').value,
      },
      success:function(result){
        console.log(result);
        if(result=='0'){

          document.getElementById('next').style.display = 'none'
          var k=document.getElementById('loginform').innerHTML +=  "<input type=hidden name='username'" + "value = "+ temp+">"
          document.getElementById('loginform').innerHTML +='<input type="password"  class="form-control" id="userpassword" name="password" placeholder="Password">'

          document.getElementById('loginform').innerHTML +="<button  id='log' style='display:none'  class='btn btn-block btn-round'>Login</button>"


           document.getElementById('useremail').value = temp
           document.getElementById('useremail').disabled = true
           document.getElementById('log').style.display = 'block'

        }
        else{
          document.getElementById('msgs').innerHTML = '<p style="font-size:10px"><b>Try google auth</b></p> ';
          console.log('Email already linked to another account')
        }
        return false
      }
    });
}else{
  document.getElementById('msgs').innerHTML = '<p style="font-size:10px"><b>Enter a Valid Email</b></p> '
}
}

</script>


</body>
</html>
